html{
  width: 90%;
  margin:0 auto;
  height: 100%;
  background-color: #BFC7F5;
  color:#000000;
}
header{
  margin-bottom: 10px;
}


img[class^='estiloimg']{
  width: 8%;
}
.estilo{
  width: 100%;
  margin-top: 25%;
}

table{
  cursor: pointer;
}

p {
  text-align: justify;
}
.redes{
  text-align: right;
  display: inline-table;
  margin-top: 10%;
}

.logo{
  width: 100%;
}

.nav{
  background-color: #F99898;
  border-radius: 10px;
}
@media all and (max-width: 900px) {
.redessociales{
  width: 100%;
  text-align: center;
  margin-top: auto;
}
.col-xs-3{
  margin-top: 0%;
}
}
